# Ignore configuration file with sensitive keys
config.js

# Ignore Elixir build and package files
.hex/
.mix/
.replit
erl_crash.dump
.elixir_ls/
deps/
_build/

# Node modules (if ever installed)
node_modules/

# Editor directories and system files
.DS_Store
*~

npm-debug.log*
yarn-error.log*
