modules = ["web", "docker", "python-with-prybar-3.10", "zig-0.11", "ruff", "pyright", "vue-node-18", "vue-node-20", "typescript-language-server", "swift-5.8", "svelte-kit-node-20", "rust-stable", "rust-nightly", "ruby-3.2", "ruby-3.1", "r-4.2", "r-4.4", "qbasic", "python-3.10", "python-3.11", "python-base-3.11", "python-3.12", "python-base-3.12", "python-base-3.13", "python-3.8", "postgresql-16", "postgresql-17", "php-8.1", "php-8.2", "php-8.3", "nodejs-14", "nodejs-16", "nodejs-19", "nodejs-23", "nodejs-22", "nodejs-20", "nix", "lua-5.2", "java-graalvm22.3", "hermit-0.38.2", "haskell-ghc9.2", "haskell-ghc9.0", "haskell-ghc9.4", "haskell-ghc9.6", "gcloud", "go-1.19", "go-1.20", "go-1.21", "go-1.23", "elixir-1_17", "elixir-1_15", "deno-1", "deno-2", "dart-2.18", "dart-3.5", "clojure-1.11", "clojure-1.12", "cpp-clang14", "c-clang14", "bun-1.1", "bun-1.2", "bash", "dotnet-8.0", "dotnet-7.0"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Servidor Web"

[[workflows.workflow]]
name = "Servidor Web"
author = 44233477
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 8000"

[[ports]]
localPort = 8000
externalPort = 80

[deployment]
deploymentTarget = "static"
publicDir = "Petstories"
